<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Replace with your SQL Server connection string -->
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-CB9ESFC\NTS;Initial Catalog=EMMEBISRL;User Id=sa;PWD=revihcra;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
